.containButtons {
    width: 100%;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.containButtons .containButton1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.containButtons .containButton2 {
    width: 50%;
}

.containButtons .font {
    position: absolute;
    border-radius: 100px;
    height: 65rem;
    width: 98%;
    top: -0.5rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%);
    z-index: 2;
}

.containButtons button {
    margin-right: 0.3rem;
    width: 14rem;
    border-radius: 4px;
    /* background-color: whitesmoke; */
    font-family: pokeSolid;
    padding: 5px 10px 10px 10px;
    color: rgb(5, 5, 5);
    letter-spacing: 3px;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    transition: transform, width, 1s;
}

.containButtons button:hover {
    box-shadow: 10px 10px 10px 1px rgb(255, 255, 255);
    width: 20rem;
    transition: transform, width, 1s;
}



.containButtons .poke1 {
    position: absolute;
    height: 40px;
    width: 40px;
    left: -13px;
    bottom: -3px;
    animation: gire linear 1s;
}

.containButtons button:hover .poke1 {
    animation: gire1 infinite linear 2s;
}
@keyframes gire1 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-359deg)
    }
}

.containButtons .poke2 {
    position: absolute;
    height: 36px;
    width: 36px;
    right: -13px;
    bottom: -2px;
    animation: gire linear 1s;
}

.containButtons button:hover .poke2 {
    animation: gire2 infinite linear 2s;
}
@keyframes gire2 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(359deg)
    }
}