.containButton {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.containButton button {
    position: relative;
    z-index: 2;
    border-radius: 30px;
    border: 1px solid var(--blue);
    background-color:whitesmoke;
    font-family: pokeSolid;
    width: 15rem;
    height: 2rem;
    padding: 5px 10px 10px 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size: 0.8rem;
    transition: transform, width, 1s;
}

.containButton button:hover {
    width: 22rem;
    box-shadow: 10px 0px 10px 10px white;
    cursor: pointer;
    transition: transform, width, 1s;
}

.containButton .poke1 {
    position: absolute;
    height: 37px;
    width: 37px;
    left: -13px;
    bottom: -4px;
}

.containButton button:hover .poke1 {
    animation: gire1 infinite linear 2s;
}
@keyframes gire1 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-359deg)
    }
}

.containButton .poke2 {
    position: absolute;
    height: 37px;
    width: 37px;
    right: -13px;
    bottom: -4px;
    animation: gire linear 1s;
}

.containButton button:hover .poke2 {
    animation: gire2 infinite linear 2s;
}
@keyframes gire2 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(359deg)
    }
}