.containDetail {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containDetail .font{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 40.2rem;
   
}

.containDetail .thunder {
   position: absolute;
    
  
    
}

.containDetail .error {
    color: white;
    font-size: 2.5rem;
}