.containHome {
    background-color: black;
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    /* animation: home 5s; */
    position: relative;
}

@keyframes home {
    0% {
        left: 80rem;
    }

    100% {
        left: 0;
    }
}

.containHome .imgPokemons {
    position: fixed;
    height: 90%;
    width: 100%;
}

.containHome .thunder {
    z-index: 1;
    width: 100%;
    height: 88rem;
    position: absolute;
    animation: thunderSec infinite linear 10s
}

@keyframes thunderSec {
    0% {
        top: -84rem;
    }

    49% {
        top: -84rem;
    }

    52% {
        top: 0;
    }

    52.5% {
        top: -84rem
    }

    63% {
        top: -84rem;
    }

    66% {
        top: 0;
    }

    66.5% {
        top: -84rem
    }

    100% {
        top: -84rem;
    }
}

.containHome .containFilters {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    animation: filters 6s;
    margin-top: 3.1rem;
    z-index: 1;
}

@keyframes filters {
    0% {
        left: 80rem;
    }

    100% {
        left: 0;
    }
}


.containHome .containDivFilter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5rem;
    margin-right: 10rem;
    /* que aparesca el titulo a la derecha */
    animation: filter 6s;

}

.titulo{
     /* que aparesca el titulo a la izquierda */
    animation: titulo 6s;
    margin-left: 10rem;
    
}

.containHome .containFilters .filters label {
    color: white;
    font-family: var(--staatliches);
    text-shadow: 1px 0px 0px #00c306, 0px 1px 0px #00c306, -1px 0px 0px #00c306, 0px -1px 0px #00c306;;
    font-size: 1.2rem;
    margin-left: 10rem;
}

.containHome .containFilters .filters select {
    font-family: var(--staatliches);
    background: black;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.315) 80%, black 00%);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    border: 1px solid var(--yellow);
    position: relative;
    width: 8rem;
    text-align: center;
}

.containHome .containFilters .filters select:focus {
    box-shadow: 0px 0px 7px 0px var(--yellow);
}

.containHome .containFilters .filters select option {
    color: black;
    position: relative;
}

.containHome .containCards {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icono{
    width: 50px;
    height: 40px;
    z-index: 1;
    animation: icono 6s;
    margin-left: 143%;
}



.ver{
    margin-top: 30px;
    color: rgb(255, 255, 255);
}