.contain {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.contain h1 {
    font-family: pokeSolid;
    text-shadow: 2px 0px 0px var(--blue), 0px 2px 0px var(--blue), -2px 0px 0px var(--blue), 0px -2px 0px var(--blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--yellow);
}

.contain img {
    width: 16rem;
    height: 16rem;
}