.containCard {
    margin: 1rem 1rem;
    z-index: 2;
    /* background-color: rgba(245, 245, 245, 0.767); */
    /* border-radius: 20px; */
    width: 19rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--staatliches);
    /* box-shadow: 0px 0px 10px 0px rgb(0, 0, 0); */
    cursor: pointer;
    /* border: 2px solid black; */
    margin-top: 20px;
}


.containCard:hover {
    /* vamos hacer una traformacion al pasar el cursor por encima del elemento */
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    /* box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);  */

}

.containCard .containName p {
    font-family: pokeSolid;
    font-size: 20px;
    color: var(--yellow);
    color: aliceblue;
    text-shadow: 2px 0px 0px var(--blue), 0px 2px 0px var(--blue), -2px 0px 0px var(--blue), 0px -2px 0px var(--blue);
    margin: auto;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-top: 5rem;
}


.containCard .containDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containCard .containDetail .containImg {
    height: 6.5rem;
    width: 6.5rem;
}

.containCard .containDetail .containImg img {
    width: 150px;
    height: 150px;
}

.containCard .containDetail .containStats {
    display: flex;
    flex-direction: column;
}

.containCard .containDetail .containStats .stats {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containCard .containDetail .containStats .stats h5 {
    margin: auto;
    font-size: 1.2rem;
    color: rgb(0, 250, 4);
    text-transform: capitalize;
}

.containCard .containDetail .containStats p {
    margin: auto;
    color: var(--yellow);
    color: aliceblue;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.contain {
    position: relative;
    z-index: 2;
}

.contain .close {
    color: red;
    position: absolute;
    right: 1.6rem;
    top: 1.4rem;
    z-index: 2;
}