.esta {
    position: relative;
    background-image: url('../images/pokemon/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* que cubra todo el espacio disponible; */
    height: 100vh;
    width: 100vw;
    /* que se ajuste a la pantalla; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.esta .estaButton1 {
    position: absolute;
    top: 25rem;
    left: 20rem;
    height: 15rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.esta button {
    font-family: pokeSolid;
    font-size: 1.0rem;
    text-shadow: 2px 2px 0 var(--blue), 2px -2px 0 var(--blue), -2px 2px 0 var(--blue), -2px -2px 0 var(--blue), 2px 0px 0 var(--blue), 0px 2px 0 var(--blue), -2px 0px 0 var(--blue), 0px -2px 0 var(--blue);
    height: 5rem;
    width: 10rem;
    background-image: url('../images/ball-pokemon.gif');
    background-position: center;
    background-size: cover;
    color: var(---blue);
    color: rgb(255, 255, 255);
    border-radius: 3rem;
    letter-spacing: 2px;
    margin-left: 105rem;
    transition: all 1s;
    cursor: pointer;
    margin-top: -80%;
}

/* .esta button:hover {
   
} */
 h6{
    font-family: pokeSolid;
    font-size: 3rem;
    text-shadow: 2px 2px 0 var(--blue), 2px -2px 0 var(--blue), -2px 2px 0 var(--blue), -2px -2px 0 var(--blue), 2px 0px 0 var(--blue), 0px 2px 0 var(--blue), -2px 0px 0 var(--blue), 0px -2px 0 var(--blue);
    letter-spacing: 4px;
    text-align: center;
    margin-top: -20px;
    margin-left: 55rem;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
}
h3{
    font-family: pokeSolid; ;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 var(--blue), 2px -2px 0 var(--blue), -2px 2px 0 var(--blue), -2px -2px 0 var(--blue), 2px 0px 0 var(--blue), 0px 2px 0 var(--blue), -2px 0px 0 var(--blue), 0px -2px 0 var(--blue);
    letter-spacing: 4px;
    text-align: center;
    /* margin-top: 40px; */
    margin-left: 55rem; 
    margin-bottom: 2rem;
    color: rgb(250, 250, 250);
} 

.logo{
    margin-left: 70px;
    margin-top: -70%;
}

.logo1{
    margin-left: 45%;
    margin-top: 30px;
}
